@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;

  --background-lighter: oklch(25.7% 0.09 281.288);
  /* Deep Indigo */
  --background-light: oklch(19.3% 0.066 272.991);;
  /* Middle Color */
  --background-dark: oklch(12.9% 0.042 264.695);
  /* Slate 950 */
  --text: oklch(92.9% 0.013 255.508);
  /* Slate 200 */
  --text-dark: oklch(70.4% 0.04 256.788);
  /* Slate 400 */
  --text-darker: oklch(44.6% 0.043 257.281);
  /* Slate 600 */
  --brand: #8b5cf6;
  /* Violet 500 */

  --text-xs: 1.6rem;
  --text-sm: 1.8rem;
  --text-md: 2.6rem;
  --text-lg: 3.6rem;
  --text-xl: 5.6rem;
  --text-2xl: 9.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--brand);
  color: var(--text);
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9rem 1rem;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .section-wrapper {
    padding: 5rem 1.5rem;
  }
}

.chip {
  font-size: var(--text-xs);
  background: var(--background-lighter);
  padding: 0.4rem 1rem;
  border-radius: 999px;
}