.about {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2.4rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.aboutText {
  font-family: var(--font-plus-jakarta), sans-serif;
  font-size: var(--text-sm);
  margin-bottom: 2.4rem;
  font-weight: 300;
  line-height: 1.7;

  @media (max-width: 768px) {
    font-size: var(--text-xs);
  }

  .highlight {
    color: var(--brand);
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem 0;
}

.linksText {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 600;
  font-size: var(--text-sm);
  color: var(--brand);
}

.highlightFirstLetter:first-letter {
  background: var(--background-card);
  backdrop-filter: blur(4px);
  border: 1px solid var(--border-subtle);
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  font-size: var(--text-md);
  font-weight: bold;
  margin-right: 0.6rem;
  float: left;
}
